*.txt
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.rar
*.npz
*.npy
.vscode/
__pycache__/
downloaded_images/
downloaded_images_vpn/
test/
test2/
test3/
*.csv
*.zip
*.sql*
!demo_data/cat.jpg
!demo_data/dog.jpg
!demo_data/cat_dog_feature.npy